.jumbotron {
    background: #4393B9;
    text-align:center;
    color: #F5F5F5;
}

.row-full-height {
    //height:100%;
    display: table;
}

.col-xs-height {
    display: table-cell;
    height:100%;
}    




