h1 {
	margin-top:5px;
}

section {
 	display:table;
	padding: 25px 15px;
	margin: 0 1.5% 24px 1.5%;
}
 
.gallery-box {
	width: 200px;
	padding: 5px;
	margin: 7px;
	float: left;
	min-height: 200px;
	border: 1px solid #ddd;
	overflow: hidden;

}
 
.gallery-box {
 .title {
	text-align: center;
	height: 22px;
	overflow: hidden;
	display: block;
  }

  .thumbnail {
	height: 188px;
	width: 188px;

  }
}

/*.btn-group { display: inline-block; }

[data-toggle="buttons"] > .btn > input[type="radio"] {
    clip: rect(1px 10px 1px 1px);
} 
*/

.thumbnail {
	line-height:20px;
	margin-bottom: 5px;
	overflow: hidden;
	word-break: normal;
	
	img {
		display:block;
		height: 100%;
		min-width: 188px;
	}

	.btn-group {
		padding:1px;
	}
}
	

  
.modal-body {
	.panel-heading {
		cursor: pointer;
		}
}
 


